<h1>Transactions</h1>
<div class="d-flex justify-content-center">
<!-- <div class="spinner-border"  role="status" >
    <span class="sr-only" id="loading">Loading...</span>
</div> -->
</div>
<table class="table" id='tab'>
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Amount</th>
        <th scope="col">Sender Mobile</th>
        <th scope="col">Reciever Mobile</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of transactions;">
        <td>{{ t.id }}</td>
        <td>{{ t.amount }}</td>
        <td>{{ t.senderMobile }}</td>
        <td>{{ t.recieverMobile }}</td>
    </tr>
    </tbody>
</table>             